.Header {
  text-align: left;
  background-color: white;
  border: 2px solid darkslategrey;
  border-radius: 3px;
  padding: 0.25em;
  margin: 0.25em;
}

.MenuBotton {
  text-align: right;
}

body {
  text-align: center;
  background-color: #DAE0E6;
  color: #383838;
}

.ArticleCard {
  border: 2px solid darkslategrey;
  box-shadow: 3px 7px;
  border-radius: 3px;
  padding: 0.25em;
  margin: 1em;
  height: auto;
}

.SingleArticlePage {
  border: 2px solid darkslategrey;
  box-shadow: 3px 7px;
  border-radius: 3px;
  padding: 0.25em;
  margin: 1em;
  height: auto;
}

.CommentCard {
  border: 2px solid darkslategrey;
  box-shadow: 3px 7px;
  border-radius: 3px;
  padding: 0.25em;
  margin: 1em;
  height: auto;
}